# Virtual Environment
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# User inputs/outputs directories
input/
output/
test_photos/
test_output/
test_output_batch/
